// import font 
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Lumanosimo&family=Mochiy+Pop+P+One&display=swap');

$font-family-lumanisimo: 'Lumanosimo', cursive;
$font-family-dongle: 'Dongle', sans-serif;
$font-family-pop: 'Mochiy Pop P One', sans-serif;


$color-primary:#46088c;

$spacing-navlink: 24px;


@mixin mobile {
    @media screen and (max-width:480px) {
        @content
    }
}

@mixin tablets {
    @media screen and (max-width:768px) {
        @content
    }
}

@mixin laptop {
    @media screen and (max-width:1200px) {
        @content
    }
}





.header {
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        background-color: rgb(202, 181, 181);
        span {
            color: white;
            font-size: 22px;
            font-weight: 300;
            font-family: $font-family-dongle;
        }
        p{
            color: white;
            font-size: 22px;
            letter-spacing: 4px;
            font-weight: 300;
            font-family: $font-family-dongle;
        }
    }
    .nav-bar{
        box-shadow: 0px 2px 2px 4px lightgray;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px ;
        .all-nav {
            flex-basis: 2;
            @include tablets{
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                list-style: none;
                gap: $spacing-navlink;
                
                li {
                    .nav-item {
                        display: flex;
                        flex-direction: column;

                        a {
                            font-size:22px ;
                            font-family: $font-family-dongle;
                            font-weight: normal;
                            text-decoration: none;
                            color: black;
                            &:hover {
                                cursor: pointer;

                            }
                        }
                        hr {
                            margin-top: -8px;
                            border: 0;
                            border-bottom: 1px solid black;
                            
                            // border-top: 1px solid black;
                        }
                    }

                    &:hover{
                        hr {
                            border-bottom: 1px solid orangered;
                            transition: 0.5s ease-in;
                            transform-origin: right;
                            transition-duration: 0.5s;
                        }
                    }
                }
            }
        }

        .logo {
            flex-basis: 1;
            @include tablets{
                width: 100%;
                text-align: center;
            }
            a {
                text-decoration: none;
                color: black;

                p {
                    font-family: $font-family-lumanisimo;
                    line-height: normal;
                    font-weight: 550;
                    font-size: 30px;
                    letter-spacing: 12px;
                }
            }
        }
    } 
}

.indicator{
    position: absolute;
    top: 32px;
    padding: 10px;
    color: lightgray;
    @include tablets{
        top: 52px;
    }
}

.home {
    .home-inner {
        padding-inline: 42px;
        @include tablets{
            padding-inline: 0px;
        }
    }
    .banner-main {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        @include tablets{
            border-radius: 0px;
        }
        .banner-container {
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            gap: 2px;
            align-items: center;
            
            .image-container {
                flex-basis: 1;
                img {
                    
                    max-width: 430px;
                    height: 450px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            
        }

        .banner-text {
            position: absolute;
            top: 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: rgb(0, 0, 0, 0.2);
            height: 100%;
            
            div {
                padding: 0px 110px;
                @include tablets{
                    padding: 0px 10px;
                }
                h1 {
                    font-family: $font-family-pop;
                    letter-spacing: 3px;
                    line-height: 54px;
                    color: white;
                }
            }
            button {
                font-family: $font-family-dongle;
                font-weight: bold;
                font-size: 36px;
                padding: 0px 32px;
                border: none;
                background-color: black;
                color: white;
                margin-top: 52px;
                border-radius: 10px 10px 10px 10px;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    background-color: $color-primary;
                    transition: 0.5s;
                }
            }
        }
    }
}



.itemsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding:8px 8px;
    height: fit-content;
    margin-top: 10px;
    background-color: rgb(211, 211, 211, 0.2);
    border-radius: 8px;
    @include tablets{
        padding: 8px 8px;
    }
    .item {
        padding: 30px 30px;
        position: relative;
        background-color: white;
        @include mobile {
            padding:30px 0px ;
        }
        .item-img {
            border-radius: 10px 10px 0px 0px;
            img {
                width: 240px;
                height: 240px;
                object-fit: cover;
                border-radius: 10px 10px 0px 0px;
                cursor: pointer;
                @include tablets{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .decision-btns {
            width: 240px;
            position: absolute;
            transform: translateY(-150%) ;
            // display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            
            div {
                text-align: center;
                @include tablets {
                    text-align: left;
                    padding-inline: 10px;
                }
                button {
                    background-color: white;
                    font-family: $font-family-pop;
                    padding: 10px 28px;
                    border: none;
                    color: white;
                    background-color: rgb(0, 0, 0, 0.5);
                    &:hover {
                        cursor: pointer;
                        background-color:black ;
                    }
                }
            }
        }
        .item-name {
            border-radius: 0px 0px 0px 0px;
            padding: 0px 10px;
            width:240px;
            top:0px;
            background-color:black;
            @include tablets{
                width: 100%;
            }
            p {
                font-family: $font-family-dongle;
                font-size: 28px;
                color: white;
            }
        }
    
        .item-desc {
            position: absolute;
            top: 0;
            background-color: white;
            width: 240px;
            padding: 20px 20px;
            box-shadow: 0px 0px 2px 3px rgb(211, 211, 211, 0.4);
            border-radius: 5px 5px 5px 5px;
            @include tablets{
                width: 406px;
            }
            @include mobile{
                width: 310px;
            }
            .info-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // gap: 20px;
                span {
                    color: grey;
                    font-family: $font-family-dongle;
                    font-size: 24px;
                }
                p {
                    font-family: $font-family-dongle;
                    font-size: 24px;
                    color: black;
                    line-height: 20px;
                }
            }
            .other-info {
                display: flex;
    
                span {
                    color: grey;
                    font-family: $font-family-dongle;
                    font-size: 24px;
                }
                p {
                    font-family: $font-family-dongle;
                    font-size: 24px;
                    color: black;
                }
            }
        }
    }
}

.cat-title {
    padding-block: 10px;
    padding-inline: 10px;
    margin-top: 40px;
    background-color: rgb(211, 211, 211, 0.2);
    p {
        font-family: $font-family-pop;
        color: $color-primary;
        @include tablets{
            text-align: center;
        }
    }
}





// js Utilities 
.hide-detail{
    display: none;
}
.show-detail {
    display: block;
    transform: translateY(-100%);
    animation-name: animate-detail;
    animation-duration: 0.6s;
}

@keyframes animate-detail {
    from{transform: translateY(0%); opacity: 0;}
    to{transform: translateY(-100%); opacity: 1;}
}

.hide-action-btns{
    display: none;
}
.show-action-btns{
    display: flex;
    animation-name: anim-action-btns;
    animation-duration: 3s;
}

@keyframes anim-action-btns {
    from{opacity: 0;}
    to{opacity: 1;}
}

// fix navbar 
.adjust-bar {
    height: 120px;
}



.fix-nav-bar{
    position: fixed;
    top: 0;
    width: 99.9%;
    z-index: 300;
}

